.tratamientos {
  min-height: 100vh;
}
.cs-pink-col {
  color: #bc74a5;
}
.cs-blue-col {
  color: #1192b3;
}
.tratamientos-cards .card {
  width: 25%;
}
@media (max-width: 1000px) {
  .tratamientos-cards .row .card {
    width: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
