<section class="confirmacion d-flex justify-content-center">
    <div class="card text-white bg-info mb-3 w-50 pb-3">
        <div class="card-header">{{especialista}}</div>
        <div class="card-body">
            <h5 class="card-title">{{name_client}}</h5>
            <p class="card-text h6">Turno asignado para el día {{turno_asignado}}</p>
            <div class="buttons d-flex justify-content-center mt-5">
                <button class="btn btn-outline-light mr-5 w-50" (click)="cambiarTurno()">Cambiar turno</button>
                <button class="btn btn-outline-light ml-5 w-50" (click)="cancelarTurno()">Cancelar turno</button>
            </div>
        </div>
    </div>
    <ng-template #modalContent let-close="close">
        <div class="modal-header">
            <h5 class="modal-title">¿Está seguro que desea cancelar el turno?</h5>
            <button type="button" class="close" (click)="close()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row justify-content-center pl-3 pr-3">
                <button class="btn btn-primary" style="width: 48%; margin-right: 2%" (click)="cancelarTurnoConfirm()">Cancelar turno</button>
                <button class="btn btn-secondary" style="width: 48%; margin-left: 2%" (click)="close()">Cerrar</button>
            </div>
      
        </div>
        
    </ng-template>
</section>

