.about {
  min-height: 100vh;
}
.cs-pink-col {
  color: #bc74a5;
}
.cs-blue-col {
  color: #1192b3;
}
@media (max-width: 1336px) {
  .about-first {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .text,
  .slider {
    max-width: 80%;
  }
}
