# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.DentalClinic.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\camil\Documents\Github\dentalclinic\dentalclinic\.idea\.idea.DentalClinic\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
