.border-3 {
  border-width: 3px !important;
}
.border-shadow {
  border-color: #ccc !important;
}
.list-horarios li {
  list-style: none;
}
@media (max-width: 1200px) {
  .especialistas {
    width: 100% !important;
  }
}
