/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeng/resources/themes/bootstrap4-light-blue/theme.css";
@import "../node_modules/angular-calendar/css/angular-calendar.css";
@import "~ngx-toastr/toastr";
.p-carousel-prev {
  background-color: #1192b3 !important;
  color: white !important;
}
.p-carousel-prev::after {
  content: "<";
}
.p-carousel-next {
  background-color: #1192b3 !important;
  color: white !important;
}
.p-carousel-next::after {
  content: ">";
}
/* Spinner */
#spinner {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
#spinner::before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.53);
}
