/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeng/resources/themes/bootstrap4-light-blue/theme.css";
@import "../node_modules/angular-calendar/css/angular-calendar.css";
@import "~ngx-toastr/toastr";
.p-carousel-prev {
  background-color: #1192b3 !important;
  color: white !important;
}
.p-carousel-prev::after {
  content: "<";
}
.p-carousel-next {
  background-color: #1192b3 !important;
  color: white !important;
}
.p-carousel-next::after {
  content: ">";
}
