<section class="turno mt-5">
    <h2 class="cs-pink-col mb-3 text-center">Solicitá tu <span class="cs-blue-col h1 font-weight-bold">turno</span>
    </h2>
    <div class="progressbar-main w-75" style="margin: 40px auto;">
        <div class="progress">
            <div class="progress-bar progress-bar-striped" role="progressbar" [attr.style]="styleValuenow" [attr.aria-valuenow]="ariaValuenow" 
                aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </div>
    
    <router-outlet></router-outlet>
 
</section>